@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  max-width: 1440px;
  text-align: center;
  align-items: center;
}

body {
  margin: 0 auto;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: beige;
}
body.dark {
  background-color: #0d0124;
}
